/* TN Academy Landing Page */
.coverImage {
  margin-top: 10px;
  margin-bottom: 20px;
}

.eventsPage {
  display: inline-block;
  width: 100%
}
.eventsPage .tabsWrap, .eventsPage .sponsorWrap {
  display: inline-block;
  float: left;
}
.eventsPage .tabsWrap {
  width: 70%;
  padding-right: 10px;
}

.eventsPage .sponsorWrap {
  width: 30%;
  padding-left: 10px;
  margin-top: 50px;
}

.eventsPage .sponsorWrap .content {
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.eventsPage .sponsorWrap .content .title {
  background-color: #111;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 15px 15px 10px 15px;
  text-transform: uppercase;
  font-family: 'Glypha Light', serif;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px
}

.eventsPage .sponsorWrap .content .sponsor {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.eventsPage .sponsorWrap .content .sponsor:last-child {
  margin-bottom: 0;
  border-bottom: none
}

.eventsPage .sponsorWrap .content .sponsor .imageLink {
  display: inline-block;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
}

.eventsPage .sponsorWrap .content .sponsor .imageLink span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(192, 0, 9, 0.5);
  display: inline-block;
  height: 0px;
  transition:all ease-in-out 0.3s;
  color: #fff;
  font-size: 40px;
  overflow: hidden;
}

.eventsPage .sponsorWrap .content .sponsor .imageLink span:after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eventsPage .sponsorWrap .content .sponsor .imageLink:hover span {
  height: 100%;
}

.eventsPage .sponsorWrap .content .sponsor .singleLink {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: #c00009;
  word-break: break-all;
}

.eventsPage .sponsorWrap .content .sponsor .singleLink:hover {
  color: #111;
}

.eventsPage .tabsWrap .content {
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.tabs {
  width:100%;
  display:inline-block;
}

.tab-links {
  margin: 0 0 10px 0
}

.tab-links:after {
  display:block;
  clear:both;
  content:'';
}

.tab-links li {
  margin:0px 5px;
  float:left;
  list-style:none;
}

.tab-links li:first-child {
  margin-left: 0
}

.tab-links li:last-child {
  margin-right: 0
}

.tab-links a {
  padding: 12px 15px 8px 15px;
  display:inline-block;
  background:#c00009;
  font-size:16px;
  font-family: 'Glypha', serif;
  text-transform: uppercase;
  color:#fff;
  transition:all linear 0.3s;
  position: relative;
}

.tab-links a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  transition:all linear 0.3s;
  z-index: 5;
  width: 0;
  background-color: #111
}

.tab-links a span {
  position: relative;
  z-index: 10
}

.tab-links a:hover {
  text-decoration:none;
}

.tab-links a:hover:before {
  width: 100%;
}

li.active a:hover {
  color: #fff;
}

li.active a{
  background:#fff;
  color:#4c4c4c;
}

.tab-content {
  padding:25px 30px 15px 30px;
  background:#fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.tab-content a {
  color: #c00009;
  transition:all ease-in-out 0.3s;
}

.tab-content a:hover {
  color: #111;
}

.tab {
  display:none;
}

.tab.active {
  display:block;
}

#tab_program table {
  border-spacing:0;
  border-collapse: collapse;
}

#tab_program table td {
  min-width: 100px;
  min-height: 10px;
  border: 1px solid #E6E6E6;
  padding: 15px;
}

#tab_program table tr td:first-child {
  font-family: 'Glypha Light', sans-serif;
  text-align: right;
  vertical-align: middle;
  font-style: italic;
}

#tab_program table td p:last-child {
  margin-bottom: 0
}

#tab_program table th {
  background-color: #111;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 15px 10px 15px;
  color: #fff;
  font-size:16px;
  font-family: 'Glypha', serif;
  text-align: left;
}

#tab_sponsorer .sponsor {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 20px
}

#tab_sponsorer .sponsor:last-child {
  margin-bottom: 0;
  border-bottom: none
}

#tab_sponsorer .sponsor .image {
  display: inline-block;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
}

#tab_sponsorer .sponsor .imageLink {
  display: inline-block;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
}

#tab_sponsorer .sponsor .imageLink span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(192, 0, 9, 0.5);
  display: inline-block;
  height: 0px;
  transition:all ease-in-out 0.3s;
  color: #fff;
  font-size: 40px;
  overflow: hidden;
}

#tab_sponsorer .sponsor .imageLink span:after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tab_sponsorer .sponsor .imageLink:hover span {
  height: 100%;
}

#tab_sponsorer .sponsor .singleLink {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1px
}

@media only screen and (max-width: 830px) {
  .eventsPage .sponsorWrap {
    width: 100%;
    padding-left: 0;
    margin-top: 25px;
  }

  .eventsPage .tabsWrap {
    width: 100%;
    padding-right: 0;
  }
}

@media only screen and (max-width: 500px) {
  .tab-links a {
    padding: 8px 7px 5px 7px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 420px) {
  .tab-links li {
    width: 100%;
    margin: 5px 0 !important;
  }

  .tab-links a {
    width: 100%;
    text-align: center;
  }
}
